<template>
<div v-if="content!=undefined">
    <h1 class="title">
         {{content}}
      </h1>
      </div>
</template>

<script>
import axios from "axios";

export default {
    data(){
        return {
            content: undefined
        }
    },
  mounted() {
    axios
      .get(process.env.baseUrl + '/home')
      .then(response => (this.content = response.data))
  }
}
</script>

<style>

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
  height: 500px;
  }

</style>
