<template>
  <section class="container">
    <div>
      <div class="button" @mouseover="mouseOver">
        <p><fa :icon="['fas', 'unicorn']" /> Hover me!
          <br>
          <br>
          {◠‿◠}
        </p>
      </div>
      <h2 class="subtitle">{{status}}</h2>
      <div class="box">
        <Message v-if="clicked==true"/>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      clicked: false,
      status: "Hover to see a message"
    };
  },
  methods: {
    mouseOver() {
      this.clicked = true;
      this.status = "Whoop whoop!";
    }
  },
  head() {
    return {
      title: "Start page",
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "description",
          name: "description",
          content: "This is the start page of the nuxt server"
        }
      ]
    };
  },
  components: {
    Message: () => import("../components/Message.vue")
  }
};
</script>

<style lang="scss">
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
}

.box {
  height: 500px;
}
.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
div.button {
  background-color: #56b17f;
  color: white;
  border: 3px solid #56b17f;
  padding: 15px 30px;
  border-radius: 305px;
  cursor: pointer;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  transition: 0.4s;
  overflow-y: hidden;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 40px;

  p {
 font-size: 20px;
  height: 30px;
  transition: 0.5s;
  }

  &:hover p{
  transform: translateY(-55px);
  }
}

</style>
